@page "/SRestaurant/{username}"
@using Entities
@using Client.Components
@using Client.Components.RestaurantPageComponents
@using Client.Data.CategoryService
@using Client.Pages.SignUp
@using Client.Data.MenuService
@using Client.Data.RestaurantService
@inject ICategoryServiceT1 categoryService;
@inject IMenuServiceT1 menuService;
@inject IRestaurantService restaurantService;

<div class="card" style="background-color: #E9ECEF; min-height: 100px" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">
        <div class="row">
            <div class="column" style="fill: none; padding-right: 15px">
                <RestaurantIcon Size="70"></RestaurantIcon>
            </div>
            <div class="column">
                <h3 style="color: #F65A4B">@restaurant.Name</h3>                                
            </div>
        </div>

        <div class="row" style="padding-left: 20px">
            <div class="column" style="width: 20%">
                <h6>Description</h6>
                <small>@restaurant.Description</small>
            </div>

            <div class="column" style="width: 40%;">
                <h6>Information</h6>
                <div class="row">
                    <div class="column" style="padding-right: 15px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#F65A4B" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </div>
                    <div class="column">
                        <p>@restaurant.Address</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="padding-right: 15px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#F65A4B" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </div>
                    <div class="column">
                        <p>@restaurant.PhoneNumber</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="padding-right: 15px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#F65A4B" class="bi bi-bag-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                    </div>
                    <div class="column">
                        <p>@restaurant.DeliveryOption1.DeliveryName: @restaurant.DeliveryOption1.Price dkk </p>
                        <p>@restaurant.DeliveryOption2.DeliveryName: @restaurant.DeliveryOption2.Price dkk </p>
                    </div>
                </div>
            </div>

            <div class="column" style="width: 20%;">
                <h6>Oppening hours</h6>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
                <div class="row">
                    <div class="column" style="min-width:100px">
                        <small>Monday</small>
                    </div>
                    <div class="column">
                        <small>@restaurant.OpeningHoursMonday</small><br/>                          
                    </div>
                </div>
            </div>
            
            <div class="column" style="width: 20%;">
                <h6>Menu Description</h6>
                <small>@restaurant.Menu.Description</small>
            </div>
        </div>
    </div>
</div>

<!--
<h3>@restaurant.Name</h3>
<p>@restaurant.Description</p>
-->
<!-- RESTAURANT INFO COMPONENT -->
<!--<RestaurantInfoComponent restaurant="restaurant"></RestaurantInfoComponent>-->
<!-- RESTAURANT INFO COMPONENT -->


<!-- RESTAURANT MENU COMPONENT -->
<!--
<div class="card" style="padding-top: 20px">
<div class="card-body">
<a data-toggle="collapse" data-target="#collapseDescription"><h4>Description</h4></a>
<div class="collapse" id="collapseDescription">
    <p>@restaurant.Menu.Description</p>
</div>
<hr>
        
<h4 style="color: #852849">Categories</h4>
        
<hr>
-->
        <!-- RESTAURANT CATEGORY COMPONENT - ALREADY CREATED -->
<div style="padding-top: 30px">
    @foreach (Category category in categories)
    {
        <CategoryComponent Category="category"></CategoryComponent>
    }
</div>
        <!-- RESTAURANT CATEGORY COMPONENT - ALREADY CREATED -->
<!--
</div>
</div>
-->
<!-- RESTAURANT MENU COMPONENT -->




@code
{
    [Parameter]
    public string username { get; set; }

    private Restaurant restaurant = new Restaurant()
    {
        DeliveryOption1 = new Delivery(),
        DeliveryOption2 = new Delivery(),
        Menu = new Menu(),
    };

    private IList<Category> categories = new List<Category>();

    private Menu menu = new Menu();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            restaurant = await restaurantService.GetRestaurantAsync(username);
            categories = await categoryService.GetCategoriesAsync(restaurant.Menu.MenuId);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }
    
    
    
    /*

    Restaurant restaurant = new Restaurant()
    {
        Username = "test",
        Name = "Santa Restaurant aps.",
        Address = "Vestergade 12 8700 Horsens",
        DeliveryOption1 = new Delivery()
        {
            DeliveryName = "Takeaway",
            Price = 15,
        },
        DeliveryOption2 = new Delivery()
        {
            DeliveryName = "Delivery",
            Price = 100,
        },
        Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.",
        OpeningHoursMonday = "9:00 - 21:00",
        OpeningHoursTuesday = "9:00 - 21:00",
        OpeningHoursWednesday = "9:00 - 21:00",
        OpeningHoursThursday = "9:00 - 21:00",
        OpeningHoursFriday = "9:00 - 21:00",
        OpeningHoursSaturday = "9:00 - 21:00",
        OpeningHoursSunday = "9:00 - 21:00",
        Visibility = true,
        Menu = new Menu()
        {
            UserName = "test",
            MenuId = 1,
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.",
        }
    };

    Category category1 = new Category()
    {
        Name = "Starters",
        CategoryId = 1,
        MenuId = 1,
    };
    
    Category category2 = new Category()
    {
        Name = "Main Menu"
    };
    
    */
}
