@using Entities
<div class="row" style="padding-left: 20px" xmlns="http://www.w3.org/1999/html">
    <div class="column">
        <a data-toggle="collapse" data-target="#@Category.Name.Replace(" ","")" role="button" aria-expanded="false" aria-controls="@Category.Name.Replace(" ","")">
            <h5>@Category.Name</h5>
        </a>
    </div>
</div>
<div class="collapse" id="@Category.Name.Replace(" ","")">
    <a data-toggle="modal" data-target="#@Category.Name.Replace(" ", "")modal">
        <div>
            <span class="badge bg-secondary" style="color: white">EDIT CATEGORY</span>
        </div>
    </a>
    <div class="row" style="padding-left: 20px">
        <!--
        Need to implement foreach loop that will create ItemComponent with Item parameter something as below 
        <ItemComponent Item=" "></ItemComponent>
        -->
        <AddItemComponent></AddItemComponent>
        <ItemComponent Item="@_item1"></ItemComponent>
        <ItemComponent Item="@_item2"></ItemComponent>
    </div>
</div>
<hr>

<!-- Modal for Editing Category -->
<div class="modal fade" id="@Category.Name.Replace(" ","")modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New item into @Category.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@Category" OnValidSubmit="@EditCategory">
                <div class="modal-body">
                    <div style="padding-bottom: 10px">
                        <InputText placeholder="Enter name of item" class="form-control" @bind-Value="Category.Name"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="actions"><button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button></p>
                    <p class="actions"><button class="btn btn-warning btn-sm" data-dismiss="modal">Delete Category</button></p>
                    <p class="actions"><button class="btn btn-success btn-sm" type="submit">Edit Category</button></p>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Category Category { get; set; }

    private Item _item1 = new Item()
    {
        Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        Name = "Something delicious",
        Price = "150",
    };
    
    private Item _item2 = new Item()
    {
        Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        Name = "Something delicious",
        Price = "150",
    };

    public void EditCategory()
    {
        
    }
    
    public void DeleteCategory()
    {
        
    }
    
    
}