@using Entities
@using Client.Data.RestaurantService
@inject IRestaurantService restaurantService;

@if (Restaurant.Name != null){

<div class="card">
  <div class="card-body">
      <div class="form-group">
          <a data-toggle="collapse" data-target="#collapseInformation"><h4>Information: <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h4></a>
          <div class="collapse" id="collapseInformation">
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Adress:</h6> 
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.Address
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Phone number:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.PhoneNumber
                  </div>
              </div>
          </div>
          <a data-toggle="collapse" data-target="#collapseOpeningHours" role="button" aria-expanded="false" aria-controls="collapseOpeningHours">
              <h5>Openning Hours</h5>
          </a>
          <div class="collapse" id="collapseOpeningHours">
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Monday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursMonday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Tuesday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursTuesday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Wednesday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursWednesday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Thurday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursThursday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Friday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursFriday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Saturday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursSaturday
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Sunday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.OpeningHoursSunday
                  </div>
              </div>
          </div>
          <a data-toggle="collapse" data-target="#collapseDelivery" role="button" aria-expanded="false" aria-controls="collapseDelivery">
              <h5>Delivery info</h5>
          </a>
          <div class="collapse" id="collapseDelivery">
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>@Restaurant.DeliveryOption1.DeliveryName</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.DeliveryOption1.Price
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>@Restaurant.DeliveryOption2.DeliveryName</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      @Restaurant.DeliveryOption2.Price
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
}

@code {
    [Parameter]
    public Restaurant Restaurant { get; set; }
    
    //private Restaurant restaurant = new ();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //restaurant = await restaurantService.GetRestaurantsAsync(Username);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }
}